<% layout("/layouts/boilerplate") %>
<style>
    #filters {
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-around; */
        margin-bottom: 20px;
        align-items: center;
    }
    .filter {
        text-align: center;
        margin-left: 2rem;
        margin-top: 2rem;
        
        opacity: 0.7;
    }
    .filter:hover{
        opacity: 1;
        cursor: pointer;
    }
    .tax-info{
        display: none;
    }
    .tax-toggle{
        border: 1px solid black;
        border-radius: .5rem;
        padding: 0.5rem 1rem;
        height: 2.5rem;
        width: 16.5rem;
        margin-left: 5rem;
        display: flex;
        align-items: center;
        opacity: 0.5;

    }
    .tax-toggle:hover{
      cursor: pointer;
      opacity: 1;
    }
    /* Custom Styling */
        .form-switch .form-check-input {
            width: 2.5rem;
            height: 1.5rem;
            background-color: #ccc;
            border: none;
            transition: background 0.3s, box-shadow 0.2s;
        }

        .form-switch .form-check-input:checked {
            background-color: #28a745; /* Green when toggled */
            box-shadow: 0 0 8px rgba(40, 167, 69, 0.5);
        }

        .form-switch .form-check-input:focus {
            box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        }

        .toggle-label {
            font-size: .8rem;
            font-weight: 500;
            color: #333;
        }
    


   
</style>
<body>
    
    <!-- <h3>All Listings</h3> -->
     <div id="filters">
        <div class="filter">
           <div> <i class="fa fa-fire" aria-hidden="true"></i></div>
           <p>  Trending</p>
        </div>
        <div class="filter">
            <div> <i class="fa fa-bed" aria-hidden="true"></i> </div>
            <p> Rooms</p>
         </div>
         <div class="filter">
            <div> <i class="fa fa-fort-awesome" aria-hidden="true"></i> </div>
            <p>  Amazing views</p>
         </div>
         <div class="filter">
             <div> <i class="fa fa-fort-awesome" aria-hidden="true"></i> </div>
             <p>Castless</p>
          </div>
          <!-- <div class="filter">
            <div> <i class="fa fa-swimming-pool" aria-hidden="true"></i> </div>
            <p>  Pool </p>
         </div> -->
         <!-- <div class="filter">
             <div> <i class="fas fa-umbrella-beach" aria-hidden="true"></i> </div>
             <p> Farms</p>
          </div> -->
          <div class="filter">
            <div> <i class="fa-regular fa-umbrella-beach"></i><i class="material-icons">&#xeb3e;</i></div>
            <p>  Beachfront</p>
         </div>
         <div class="filter">
             <div> <i style='font-size:24px' class='fas'>&#xf450;</i> </div>
             <p> Golfing</p>
          </div>
          <div class="filter">
            <div> <i style="font-size:24px" class="fa">&#xf2dc;</i></div>
            <p>  Lakefront</p>
         </div>
         <div class="filter">
             <div> <i class="fa fa-bed" aria-hidden="true"></i> </div>
             <p> OMG!</p>
          </div> 
          <!-- <div class="tax-toggle">
            <div class="form-check-reverse-primary  form-switch">
                <input class="form-check-input" type="checkbox" role="switch" name="flexSwitchCheckDefault" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault" name="flexSwitchCheckDefault">Display Taxes</label>
              </div>
          </div> -->
          <div class="tax-toggle ms-4 mt-4">
          <div class="container mt-1 mb-1 me-1">
            <div class="form-check form-switch me-2">
                <input class="form-check-input" type="checkbox" id="customSwitch">
                <label class="form-check-label toggle-label" for="customSwitch">Display Total Before Taxes</label>
            </div>
        </div></div>

          <!-- <div class="container mt-5">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Toggle Switch</label>
            </div>
        </div> -->
     </div>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
        <%  for(let listing of allListings){  %>
            <a href="/listings/<%=listing._id%>" class="listing-link">
            <div class="listing-card card col" style="width: 20rem;">
                <img src="<%= listing.image.url  %>" class="card-img-top" alt="listing_image" style="height: 20rem;">
                <div class="card-img-overlay"></div>
                <div class="card-body">
                  <p class="card-text"><b><%=listing.title  %></b><b></b>
                  Price:  &#8377; <%= listing.price %>/night
                <i class="tax-info"> &nbsp; +18%GST </i></p>
                </div>
              </div></a>
              <% } %>  
            
    </div>
    <script>
let taxSwitch = document.getElementById('flexSwitchCheckDefault');

taxSwitch.addEventListener('click', ()=> {
    
  let taxInfo = document.querySelector('tax-info');
  console.log(taxInfo);
  for(info of taxInfo) {
    if(info.style.display != "inline") {
        info.style.display = "inline";
    }else{
    info.style.display = "none";}
  }
});
</script>
<!-- <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script> -->
</body>
