<% layout("/layouts/boilerplate") %>

    <body>
        <div class="row">
            <div class="cols-8 offset-1">
                <h3>All Details</h3>
                <form action="/listings" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
                    <div class="mb-3"> <label for="title" class="form-label">Title:</label><br>
                        <input type="text" id="title" class="form-control" placeholder="enter your title"
                            name="listing[title]">

                        <div class="valid-feedback">Title looks good!</div>
                    </div><br><br>
                    <div class="mb-3"><label for="description" class="form-label">description:</label><br>
                        <textarea id="description" name="listing[description]" class="form-control" ></textarea>
                        <div class="valid-feedback">Description looks good!</div>
                    </div><br><br>
                    <!-- <div class="mb-3"><label for="image" class="form-label">Image Link:</label><br>
                        <input type="text" id="image" placeholder="enter your image URL" class="form-control"
                            name="listing[image]"><div class="invalid-feedback">Image should not be empty!</div>
                    </div><br><br> -->
                    <div class="mb-3"><label for="image" class="form-label">Upload Image:</label><br>
                        <input type="file" id="image"  class="form-control"
                            name="listing[image]"><div class="invalid-feedback">Image should not be empty!</div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-4"> <label for="price" class="form-label">Price:</label><br>
                            <input type="number" id="price" placeholder="enter your price" name="listing[price]"
                                class="form-control" required>
                            <div class="invalid-feedback">Price should be valid!</div>
                        </div><br><br>
                        <div class="mb-3 col-8"> <label for="country" class="form-label">Country:</label><br>
                            <input type="text" id="country" placeholder="enter your country" name="listing[country]"
                                class="form-control"><div class="invalid-feedback">Country should not be empty!</div>
                        </div>
                    </div><br><br>
                    <div class="mb-3"> <label for="location" class="form-label">Location:</label><br>
                        <input type="text" id="location" placeholder="enter your location" name="listing[location]"
                            class="form-control" ><div class="invalid-feedback">Location should not be empty!</div>
                    </div><br><br>
                    <button type="submit" class="btn btn-dark add-btn">Create</button>
                </form>
            </div>
        </div>
       
    </body>