body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
    }
.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #fe42fe;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}
.f-info-links a{
text-decoration: none;
color: #222222;
}

.f-info-links a:hover{
    text-decoration:underline;
    }
    .f-info-links{
        width: 100%;
    }
    .f-info-socials{
        width: 100%;
        font-size: 2.5rem;
    }

    .f-info{
        text-align: center;
        height: 8rem;
        display: flex;
        background-color: #ebebeb;
        flex-wrap: wrap;
        justify-content: center;
        align-items: space-evenly;
    }
    .listing-card{
        margin-bottom: 2rem;
        border: none !important;
    }
.card-img-top{
    border-radius: 1rem;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding:0 !important ;
}

.listing-link{
    text-decoration: none;
    color: #222222;
}
/* Card Effect */
.card-img-overlay{
   opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: beige;
 }
 .add-btn{
    background-color: #fe424dfe !important;
    border: none !important;
 }
 .edit-btn{
    background-color: #fe424dfe !important;
    border: none !important;
 }
 .btns{
    margin-top: 1rem;
    display: flex;
    /* justify-content: space-evenly; */
    height: 2.5em;
 }
 .show-card{
    padding-left: 0;
    padding-right: 0;
 }

 #map { 
    height: 400px;
       width:80vh;
     }

/* From Uiverse.io by vinodjangid07 */ 
.InputContainer {
    width: 210px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom,rgb(227, 213, 255),rgb(255, 231, 231));
    border-radius: 30px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
  }
  
  .input {
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    caret-color: rgb(255, 81, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    padding-left: 15px;
    letter-spacing: 0.8px;
    color: rgb(19, 19, 19);
    font-size: 13.4px;
  }
  